<% include ../partials/header %>

<div class="row">
	<div class="col-md-4">
		<h1><%= user.firstName + " " + user.lastName %></h1>
		<div class="thumbnail">
			<% if(currentUser.avatar.length < 1){ %>
				<img src="https://res.cloudinary.com/dzi9oazgw/image/upload/t_media_lib_thumb/v1515365276/default_avatar_wju6it.png" alt="user profile image" height="200px" width="200px">
			<% }else{ %>
				<img src="<%= user.avatar %>" alt="user profile image">
			<% } %>
			<div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
		</div>
		<h3>Personal Info</h3>
		<p>
			aighaorighaiorghaorghaoirghairgharighari
			arhgioarhgoairhgioahgoahrgihairghairhg
			arghioargh

			airghoarhgioarhgoiahrgiharogiharoigh
			irhagorhgoaeirghaeiorghoi
		</p>
	</div>
	<div class="col-md-8">
		<h3><%= user.username%>'s campgrounds:</h3>
		<ul>
			<% campgrounds.forEach(function(campground){ %>
				<li><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>
			<% }) %>
		</ul>
	</div>
</div>



<% include ../partials/footer %>